.sidebar{
  width: rem;
  height: 100%;
  align-self: start;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);
  position: fixed;
}

.sidebar-header{
  padding: 2rem 2.5rem 1.5rem 2rem;
}

.sidebar-list{
  list-style: none;
  padding: 0;
}
.sidebar-item{
  padding: 1rem 2.5rem 1rem 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: var(--shade-1);
}

.no-style{
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}