:root {
  --success: #3E613F;
  --success-bg : #EDF7ED;
  --warning: #7C5829;
  --warning-bg: #FFF4E5;
  --error-bg: #FCEDEC;
  --error: #5F2120;
  --info-bg: #E5F5FD;
  --info: #295C75;
  --shade-1: #9768D1;
  --shade-2: #7B52AB;
  --shade-3: #553285;
  --shade-4: #36175E;
  --shade-5: #25064C;
  --grey-1: #D9D9D9;
  --grey-2: #BFBFBF;
  --grey-3: #A6A6A6;
  --grey-4: #737373;
  --grey-5: #404040;
}